main {
    margin: 0 em(10px);
}

canvas {
    margin-top: em(10px);
    max-width: 100%;
}

.section-head {
    text-transform: uppercase;
    margin: 10px 0;
}

.traffic-nav {
    @include flex();
    justify-content: space-between;
}

.traffic-nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 em(3px);
    margin-top: em(10px);
    text-transform: uppercase;
    font-size: em(10px);
}

#trafficChart {
    @include mq (medium) {
        max-height: 90%;
    }
}

#social-stats {
    @include flex();
    justify-content: space-between;
    margin-bottom: em(10px);
}

.social-widget {
    @include flex();
    display: inline-block;
    background-color: $tan-light;
    padding: em(5px) em(5px);
    border-radius: em(5px);

    @include mq (medium) {
        width: 200px;
    }
}

.social-icon {
    display: block;
    margin: 0 auto;
    fill: $tan-light;
    height: em(30px);
    width: em(30px);
    padding: em(5px);
    background-color: $cigar;
    border-radius: em(10px);

    @include mq (medium) {
        display: inline-block;
        height: em(45px);
        width: em(45px);
        margin-top: em(5px);
        margin-left: em(5px);
    }
}

.social-content {
    margin: 0 em(15px);

    @include mq (medium) {
        display: inline-block;
    }
}

.social-content h5,
.social-content p {
    margin: 0;
    text-align: center;
}

.social-content h5 {
    color: $cigar;
    margin-top: em(10px);
    margin-bottom: em(10px);

    @include mq (medium) {
        margin-top: em(5px);
        margin-bottom: em(5px);
        font-size: em(18px);
    }

}

.social-content p {
    font-size: em(24px);

    @include mq (medium) {
        font-size: em(30px);
    }
}

.member-section {
    @include flex();
    border-bottom: 1px solid $cigar;
    margin-bottom: em(10px);
    height: em(72px);
}

.member-section img {
    height: em(60px);
    width: em(60px);
    border-radius: em(10px);
}

.member-info {
    width: em(170px);
    padding-left: em(5px);
    flex-grow: 2;
}

.member-info h5 {
    margin-bottom: 0;
    color: $cigar;
}

.member-info p {
    margin-top: 0;
}

.date-join {
    font-size: em(13px);
    font-weight: bold;
    color: $orange;
}

.member-email {
    color: $orange;
    text-decoration: underline;
}

// RECENT ACTIVITY

.recent-activity {
    @include mq (medium) {
        margin-left: em(10px);
    }
}

.activity-section {
    @include flex();
    border-bottom: 1px solid $cigar;
    margin-bottom: em(10px);
    height: em(72px);
}

.activity-section img {
    height: em(60px);
    width: em(60px);
    border-radius: em(10px);
    margin-bottom: em(10px);
}

.activity-info {
    margin-left: em(10px);
    flex-grow: 2;
}

.member-activity {
    margin-bottom: 0;
    font-size: em(14px);
}

.member-time {
    margin-top: 0;
    font-size: em(13px);
    font-weight: bold;
    color: $orange;
}

.activity-section i {
    color: $orange;
    font-size: em(12px);
    margin-top: em(15px);
}

// MESSAGE USER

#user-search {
    margin-bottom: em(10px);
    padding: em(5px);
    width: 100%;
    background-color: $tan-light;
    border: em(1px) solid $cigar;
    border-radius: em(3px);

    @include mq (large) {
        width: 99%;
    }
}

#member-search-text {
    resize: none;
    margin-bottom: em(10px);
    padding: em(5px);
    width: 96%;
    height: em(100px);
    background-color: $tan-light;
    border: em(1px) solid $cigar;
    border-radius: em(3px);
}

#user-send {
    width: 100%;
    text-align: center;
    background-color: $cigar;
    color: $tan-light;
    font-size: em(14px);
    text-transform: uppercase;
    font-weight: bold;
    padding: em(10px) em(5px);
    border-radius: em(3px);

    @include mq (large) {
        width: 99%;
    }
}

// SETTINGS

#settings {
    @include mq (medium) {
        margin-left: em(10px);
    }
}

#settings p {
    display: inline-block;
    width: em(165px);
}

.onoffswitch {
    display: inline-block;
    vertical-align: middle;
    padding-left: em(30px);
    position: relative;
    width: em(90px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    @include mq (medium) {
        padding-left: em(60px);
    }
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid $tan-light;
    border-radius: em(8px);
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: em(30px);
    padding: 0;
    line-height: em(30px);
    font-size: em(14px);
    color: $white;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "OFF";
    padding-left: em(10px);
    background-color: $cigar;
    color: $tan-light;
}

.onoffswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: $tan-light;
    color: $cigar;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 17px;
    margin: 6.5px;
    background: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: em(56px);
    border: 1px solid $cigar;
    border-radius: em(8px);
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#DropDownTimezone {
    width: 100%;
    background-color: $tan-light;
    color: $cigar;

    @include mq (medium) {
        margin-top: em(20px);
    }
}

#settings-buttons {
    @include flex();
    justify-content: space-between;
    margin: em(10px) 0;
}

.settings-button {
    width: em(160px);
    text-align: center;
    font-size: em(14px);
    text-transform: uppercase;
    font-weight: bold;
    padding: em(10px) em(5px);
    border-radius: em(3px);

    @include mq (medium) {
        margin-top: em(16px);
    }
}

#settings-save {
    background-color: $cigar;
    color: $tan-light;
}

#settings-cancel {
    background-color: $tan-light;
    color: $cigar;
}