nav {
    background-color: $cigar;
    color: $white;
    @include flex();
    justify-content: space-between;
}

.top-nav {
    width: 100%;
}

.logo-section {
    display: table;
}

.logo {
    vertical-align: middle;
    display: table-cell;
    height: em(50px);
    margin-left: em(10px);
    margin-top: em(7px);
}

.logo-text {
    vertical-align: middle;
    display: table-cell;
    font-family: $font-family--logoPrimary;
    font-size: em(20px);
    color: $white;
    text-align: center;
    padding-left: em(10px);
    padding-top: em(5px);

    @include mq (medium) {
        font-size: em(28px);
    }
}

.nav-user {
    @include flex();
}

.bell-icon {
    position: relative;
    transition: all .2s ease-in-out;
}

.bell-icon:hover {
    transform: scale(1.1);
}

.bell-icon[data-badge]::after {
    content: attr(data-badge);
    position: absolute;
    top: em(15px);
    right: em(15px);
    font-size: em(14px);
    background: $tan-light;
    color: $cigar;
    width: em(15px);
    height: em(15px);
    text-align: center;
    line-height: em(16px);
    border-radius: 50%;

    @include mq (medium) {
        top: em(15px);
        right: em(10px);
        font-size: em(18px);
    }
}

#bell {
    margin: em(10px);
    margin-top: em(20px);
    display: inline-block;
    height: em(30px);
    fill: $white;

    @include mq (medium) {
        margin-top: em(25px);
    }
}

.main-user {
    display: table;
    margin: 0 em(10px);
}

.main-user-img {
    vertical-align: middle;
    display: table-cell;
    height: em(50px);
    border-radius: em(10px);
    margin-top: em(7px);
}

.main-user-name {
    vertical-align: middle;
    display: table-cell;
    color: $white;
    text-align: center;
    font-size: em(14px);
    padding-left: em(5px);
    padding-top: em(20px);

    @include mq (medium) {
        font-size: em(20px);
        padding-top: em(10px);
    }
}

.dash-head {
    @include flex();
    justify-content: space-between;
}

.dash-head h3 {
    display: inline-block;
    margin: em(10px) 0;
    border-right: solid em(1px) $cigar;
    padding-top: em(3px);
    padding-right: em(10px);
}

.search-input {
    position: relative;
    margin: em(15px) 0;
    font-size: em(14px);
}

.search-input .fa-search {
    position: absolute;
    top: em(8px);
    right: em(7px);
    font-size: em(14px);
    color: $cigar;
}

#site-search {
    width: em(220px);
}

.side-nav .selected {
    @include mq (medium) {
        border-bottom: solid 4px $cigar;
    }

}

.alert-box {
    @include flex();
    justify-content: space-between;
    width: 97%;
    margin: em(10px) em(5px);
    padding: em(6px) em(4px);
    font-size: 12px;
    color: $tan-light;
    background-color: $cigar;
    border-radius: em(4px);

    @include mq (medium) {
        width: 98%;
    }
}

.alert-box i {
    margin-left: em(20px);
    margin-right: em(4px);
    margin-top: em(2px);
}